body {
  background: white;
}

body .top-section {
  background-image: url("https://i.postimg.cc/ydKjg8Lp/spices.jpg");
  background-size: 100% 100%;
}

body .top-section .container {
  background-color: rgba(0, 0, 0, 0.7);
}

body .top-section .container .logo {
  text-align: center;
  font-family: "Cookie", cursive;
  color: white;
  font-size: 3.8vw;
  border-bottom: 2.5px solid #cb0000;
  line-height: 0.6;
  width: 8%;
  font-weight: 500;
  margin: 0 auto;
  padding: 50px 0 10px;
}

@media screen and (max-width: 768px) {
  body .top-section .container .logo {
    font-size: 5.5vw;
    line-height: .5;
    width: 12%;
  }
}

@media screen and (max-width: 600px) {
  body .top-section .container .logo {
    font-size: 7.5vw;
    line-height: .4;
    width: 17%;
  }
}

body .top-section .container .message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 50px 0;
}

body .top-section .container .message #header-heading {
  font-family: "DM Serif Display", serif;
  font-size: 3.4vw;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  body .top-section .container .message #header-heading {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 600px) {
  body .top-section .container .message #header-heading {
    font-size: 7vw;
  }
}

body .top-section .container .message #info {
  font-family: "Nunito", sans-serif;
  font-size: 1.7vw;
  padding: 8px 0 0;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  body .top-section .container .message #info {
    padding-top: 22px;
    font-size: 2.4vw;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  body .top-section .container .message #info {
    font-size: 4vw;
    padding-top: 18px;
  }
}

body .top-section .container .button {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 12%;
}

@media screen and (max-width: 768px) {
  body .top-section .container .button {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  body .top-section .container .button {
    padding-bottom: 16%;
  }
}

body .top-section .container .button #top-join-btn {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1.4vw;
  width: 40%;
  margin: 0 auto;
  background-color: #cb0000;
  border-radius: 50px;
  padding: 2% 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
  body .top-section .container .button #top-join-btn {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .top-section .container .button #top-join-btn {
    font-size: 3vw;
    padding: 4% 10%;
  }
}

body .top-section .container .button #top-join-btn:hover {
  background-color: #800000;
}

body .mid-section .container {
  width: 90%;
  margin: 0 auto;
}

body .mid-section .container .order-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0 20px;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in {
    padding: 60px 0;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
}

body .mid-section .container .order-in .image {
  width: 40%;
  padding: 0 10px 0 0;
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .image {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
  }
}

body .mid-section .container .order-in .image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .image img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .image img {
    width: 80%;
  }
}

body .mid-section .container .order-in .content {
  color: #404040;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .content {
    width: 56%;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .content {
    width: 90%;
    margin: 0 auto;
  }
}

body .mid-section .container .order-in .content #order-sub-heading {
  font-family: "Lobster", cursive;
  font-size: 1.8vw;
  font-weight: 500;
  color: #cb0000;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .content #order-sub-heading {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .content #order-sub-heading {
    font-size: 3.4vw;
  }
}

body .mid-section .container .order-in .content #order-heading {
  font-family: "DM Serif Display", serif;
  font-size: 2.5vw;
  font-weight: 500;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .content #order-heading {
    font-size: 3.5vw;
    padding: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .content #order-heading {
    font-size: 6vw;
    padding: 20px 0;
  }
}

body .mid-section .container .order-in .content #description {
  font-family: "Nunito", sans-serif;
  font-size: 1.4vw;
  line-height: 1.5;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .content #description {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .content #description {
    font-size: 4vw;
  }
}

@media screen and (max-width: 768px) {
  body .mid-section .container .order-in .content #description br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .order-in .content #description br {
    display: none;
  }
}

body .mid-section .container .secrets {
  text-align: center;
  padding: 60px 0 80px;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets {
    padding: 60px 0;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets {
    padding: 50px 0;
  }
}

body .mid-section .container .secrets #secret-sub-heading {
  font-family: "Lobster", cursive;
  font-size: 1.8vw;
  font-weight: 500;
  color: #cb0000;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets #secret-sub-heading {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets #secret-sub-heading {
    font-size: 3.4vw;
  }
}

body .mid-section .container .secrets #secrets-heading {
  font-family: "DM Serif Display", serif;
  font-size: 2.5vw;
  font-weight: 500;
  padding: 20px 0;
  color: #404040;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets #secrets-heading {
    font-size: 3.5vw;
    padding: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets #secrets-heading {
    font-size: 6vw;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

body .mid-section .container .secrets .exclusive {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive {
    padding-top: 20px;
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
}

body .mid-section .container .secrets .exclusive .recipes {
  color: #404040;
  width: 25%;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .recipes {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .recipes {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 40px;
  }
}

body .mid-section .container .secrets .exclusive .recipes #recipe-title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .recipes #recipe-title {
    font-size: 2vw;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .recipes #recipe-title {
    font-size: 3vw;
  }
}

body .mid-section .container .secrets .exclusive .recipes #recipe-description {
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .recipes #recipe-description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .recipes #recipe-description {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .recipes #recipe-description br {
    display: none;
  }
}

body .mid-section .container .secrets .exclusive .news {
  width: 25%;
  color: #404040;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .news {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .news {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

body .mid-section .container .secrets .exclusive .news #news-title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .news #news-title {
    font-size: 2vw;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .news #news-title {
    font-size: 3vw;
  }
}

body .mid-section .container .secrets .exclusive .news #news-description {
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .news #news-description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .news #news-description {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .news #news-description br {
    display: none;
  }
}

body .mid-section .container .secrets .exclusive .discounts {
  color: #404040;
  width: 25%;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .discounts {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .discounts {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
}

body .mid-section .container .secrets .exclusive .discounts #discount-title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .discounts #discount-title {
    font-size: 2vw;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .discounts #discount-title {
    font-size: 3vw;
  }
}

body .mid-section .container .secrets .exclusive .discounts #discount-description {
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .discounts #discount-description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .mid-section .container .secrets .exclusive .discounts #discount-description {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  body .mid-section .container .secrets .exclusive .discounts #discount-description br {
    display: none;
  }
}

body .bottom-section {
  background-image: url("https://i.postimg.cc/nLBThDGQ/tomatoe-pizza.jpg");
  background-size: 100% 100%;
}

body .bottom-section .container {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 65px 0;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container {
    padding: 36px 0;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container {
    padding: 24px 0;
  }
}

body .bottom-section .container #signup-sub-heading {
  color: #cb0000;
  font-family: "Lobster", cursive;
  font-size: 1.8vw;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container #signup-sub-heading {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container #signup-sub-heading {
    font-size: 3.4vw;
  }
}

body .bottom-section .container #signup-heading {
  color: white;
  font-family: "DM Serif Display", serif;
  font-size: 3.4vw;
  padding: 25px 0;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container #signup-heading {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container #signup-heading {
    font-size: 6vw;
    width: 80%;
    margin: 0 auto;
  }
}

body .bottom-section .container .friends {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

body .bottom-section .container .friends .left {
  width: 45%;
  background-color: white;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .left {
    padding: 5% 0;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .left {
    width: 80%;
    margin: 0 auto;
    padding: 4% 0;
    margin-bottom: 12px;
  }
}

body .bottom-section .container .friends .left .container {
  color: #404040;
  background-color: white;
  font-size: 1.5vw;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .left .container {
    width: 85%;
  }
}

body .bottom-section .container .friends .left .container .stars {
  padding-bottom: 25px;
  color: #cb0000;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .left .container .stars {
    font-size: 3vw;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .left .container .stars {
    font-size: 4vw;
    padding-bottom: 20px;
  }
}

body .bottom-section .container .friends .left .container #quote1 {
  font-size: 1.5vw;
  line-height: 1.6;
  font-weight: 600;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .left .container #quote1 {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .left .container #quote1 {
    font-size: 3.2vw;
  }
}

body .bottom-section .container .friends .left .container #author1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .left .container #author1 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .left .container #author1 {
    padding-bottom: 25px;
    font-size: 3vw;
  }
}

body .bottom-section .container .friends .right {
  width: 45%;
  background-color: white;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .right {
    padding: 5% 0;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .right {
    width: 80%;
    margin: 0 auto;
    padding: 4% 0;
    margin-top: 12px;
    margin-bottom: 10px;
  }
}

body .bottom-section .container .friends .right .container {
  color: #404040;
  background-color: white;
  font-size: 1.5vw;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .right .container {
    width: 85%;
  }
}

body .bottom-section .container .friends .right .container .stars {
  padding-bottom: 25px;
  color: #cb0000;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .right .container .stars {
    font-size: 3vw;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .right .container .stars {
    font-size: 4vw;
    padding-bottom: 20px;
  }
}

body .bottom-section .container .friends .right .container #quote2 {
  font-size: 1.5vw;
  line-height: 1.6;
  font-weight: 600;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .right .container #quote2 {
    padding-bottom: 55px;
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .right .container #quote2 {
    padding-bottom: 25px;
    font-size: 3.2vw;
  }
}

body .bottom-section .container .friends .right .container #author2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .friends .right .container #author2 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .friends .right .container #author2 {
    font-size: 3vw;
  }
}

body .bottom-section .container .button {
  padding: 50px 0 40px;
}

body .bottom-section .container .button #btm-join-btn {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1.4vw;
  width: 40%;
  margin: 0 auto;
  background-color: #cb0000;
  border-radius: 50px;
  padding: 2% 22%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
  body .bottom-section .container .button #btm-join-btn {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 600px) {
  body .bottom-section .container .button #btm-join-btn {
    font-size: 3.4vw;
    padding: 4% 10%;
  }
}

body .bottom-section .container .button #btm-join-btn:hover {
  background-color: #800000;
}

body footer #footer-logo {
  text-align: center;
  font-family: "Cookie", cursive;
  color: #404040;
  font-size: 2.4vw;
  border-bottom: 1.5px solid #cb0000;
  line-height: 1;
  width: 5%;
  font-weight: 500;
  margin: 0 auto;
  padding: 30px 0 0;
}

@media screen and (max-width: 768px) {
  body footer #footer-logo {
    font-size: 4vw;
    width: 8.5%;
  }
}

@media screen and (max-width: 600px) {
  body footer #footer-logo {
    font-size: 6vw;
    width: 13%;
  }
}

body footer #copyrights {
  text-align: center;
  padding: 30px 0 20px;
  font-family: "Nunito", sans-serif;
  color: #404040;
}

@media screen and (max-width: 768px) {
  body footer #copyrights {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body footer #copyrights {
    font-size: 2vw;
  }
}

body .join-form {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .join-form .content-wrapper {
  width: 25%;
  background-image: url("../images/breakfast-coffee-coffee-drink-2351274.jpg");
  background-size: 100% 100%;
  padding: 2%;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper {
    width: 45% !important;
    padding: 4% 2%;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper {
    width: 65% !important;
    padding: 5%;
  }
}

body .join-form .content-wrapper #join-close-btn {
  text-decoration: none;
  color: #cb0000;
  font-size: 1.2vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 8px;
  right: 12px;
}

body .join-form .content-wrapper #join-close-btn:hover {
  color: #404040;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper #join-close-btn {
    top: 10px;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper #join-close-btn {
    font-size: 2.5vw;
    top: 5px;
    right: 10px;
  }
}

body .join-form .content-wrapper .form-container {
  border: 8px double #cb0000;
  padding: 5% 10%;
  background: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container {
    padding: 6% 10% !important;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container {
    padding: 6.5% 10% !important;
  }
}

body .join-form .content-wrapper .form-container #form-title {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 3vw;
  font-weight: 800;
  color: #cb0000;
  border-bottom: 3px solid #cb0000;
  width: 32%;
  line-height: 1;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container #form-title {
    font-size: 6vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container #form-title {
    font-size: 7vw;
  }
}

body .join-form .content-wrapper .form-container #form-msg {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  color: black;
  line-height: 1.5;
  margin: 5% 0 6%;
  padding: 1%;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container #form-msg {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container #form-msg {
    font-size: 3vw;
  }
}

body .join-form .content-wrapper .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .join-form .content-wrapper .form-container form input {
  margin-top: 5%;
  border-radius: 10px;
  padding: 2% 0 2% 2%;
  border: 1px solid black;
  font-size: 1.2vw;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container form input {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container form input {
    font-size: 3vw;
  }
}

body .join-form .content-wrapper .form-container form input:focus {
  border: 2px solid #800000;
  outline: none;
}

body .join-form .content-wrapper .form-container form span {
  padding-top: .5%;
  padding-left: 2%;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: red;
  display: none;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container form span {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container form span {
    font-size: 2vw;
  }
}

body .join-form .content-wrapper .form-container form #join-form-btn {
  width: 65%;
  margin: 5% auto 0;
  border-radius: 50px;
  border: none;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #cb0000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  padding: 3% 0;
}

@media screen and (max-width: 800px) {
  body .join-form .content-wrapper .form-container form #join-form-btn {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 600px) {
  body .join-form .content-wrapper .form-container form #join-form-btn {
    font-size: 3vw;
  }
}

body .join-form .content-wrapper .form-container form #join-form-btn:hover {
  background-color: #800000;
}
/*# sourceMappingURL=main.css.map */